*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width:510px;
    float: left;
    height: 70 vpx;
}

.logo{
    color: yellow;
    font-size: 50px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 250px;
    float: right;
    height: 70px;
    margin-top: 27px;
}

.ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}

ul li{
    list-style: none;
    margin-left: 20px;
    margin-top: 27px;
    font-size: 16px;
    display: inline;
    margin-bottom: 3px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    margin-top: 27px;
}

ul li a:hover{
    color: yellow; 
    margin-top: 27px;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: -3%;
    padding-bottom: 25px;
    font-family: Arial;
    margin-top: 7%;
    letter-spacing: 1.2px;
    line-height: 30px;
}
    
.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%);
    position: absolute;
    top: -70px;
    left: 930px;
    border-radius: 10px;
    padding: 25px;
}


.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #b8ac11;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ffff00;
    border-top: none; 
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 15px;
    
    font-family: sans-serif;
}

.form label{
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    display: block;
    margin-bottom: 2px;
    padding: 5px;  
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #b8ac11;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover{
    background: blue;
    color: #ffff00;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

